body {
  background-color: #FBE6E3;
  width: 100%;
}

img {
  height: 100px;
  width: 100%;
  border-radius: 20px;
}

h1 {
  text-shadow: 2px 2px 5px #C9AD62;
}

.food-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food-img-card {
  text-align: center;
}